<div>
<h1>Log in</h1>
<form [formGroup]="loginForm" >
    <div>
        <label for="username">Username</label>
        <input
          name="username"
          type="text"
          required
          id="username"
          placeholder="enter username"
          formControlName="username"
          >
        </div>
    <div>
        <label for="password">Password</label>
        <input
            name="password"
            type="password"
            required
            id="password"
            placeholder="enter a password"
            formControlName="password"
            >
    </div>
        <button (click)="login()" type="submit" >Submit</button>
      <a [routerLink]="['/']" >Cancel</a>
</form>
</div>

