<div class="details-container">
<h1 class="card-title1">Company Info</h1>
<hr />
<mat-card>
  <mat-card-content>
<div >
    <div class="item">
        <span>ID:</span>
        <span>{{(selectedCompany$ | async)?.id}}</span>
    </div>
    <div class="item">
      <span>Name:</span>
        <span>{{(selectedCompany$ | async)?.name}}</span>
    </div>
    <div class="item">
      <span>Address:</span>
        <span>{{(selectedCompany$ | async)?.address}}</span>
    </div>
</div>
</mat-card-content>
</mat-card>

<app-company-products [products]="products"></app-company-products>

<hr  />

<button [routerLink]="['/']" class="app-button" mat-raised-button color="accent">back to list</button>

</div>
